/* body {

  } */
   *{
       padding:0px;
       margin:0px;
   } 
    
.wrapper {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    width: 70%;float: left;
    padding: 0px;
    margin: 0px;
    
  }
  
.box {
    background-color: rgb(24, 23, 23);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }
  
.a {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 2;
      }
.b {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 3;
      }
.c {
          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 2;
          grid-row-end: 3;
      }
.d {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
      }
.e {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
      }
.f {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.box:hover{
    background-color: red;
}


#TextRightTop, TextRightMiddle{
    display: inline-block;        
    width: 100%;       
    margin: 0 auto 0;      
    position: relative;        
    text-align: left;  
    box-sizing: border-box; 
}

#TextRightTopTitle, TextRightMiddleDesc{
    display: inline-block;          
    width: 100%;          
    font-family: 'Montserrat', sans-serif;          
    font-size: 16px;          
    font-weight: bold; 
    line-height: 1; 
    color: #212121;  
    text-align: center; 
    box-sizing: border-box; 

}

#TextRightMiddleDesc{
    padding: 10px;
}
.container-right{
    width: 400px;
   height: 100;
    background-color: #444;
    z-index: 100;
    float: right;
    border-radius: 5px;
    padding: 5px;
  
    
}
.box-title{
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    padding-left: 5px;
}
.container-box{
    width: 100%;
}

.purchaseTitle{
    padding-left: 10px;
    font-size: 20px;
}
.btn-close{
    border: none;
    background-color: #444;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    margin-left: 250px;
  
}
.description{
    margin-left: 10px;
    padding: 10px 0px;
}
.box2{
    padding: 10px 0px;
}
.itemsboxprice{
    border-bottom:  1px dotted #fff;
   
}
.quantity{
    padding-left: 185px;
}

#totoal-price{
    margin-left: 200px;
    margin-bottom: 10px;
}
#purche{
    background: linear-gradient(rgb(110, 104, 104),#212121);
    border: none;
    border-radius: 2px;
    color: #fff;
    padding: 10px 10px;
    margin-bottom: 7px;
    margin-left: 130px;
}
#purche:hover{
    background: linear-gradient(#212121,rgb(110, 104, 104));
   
}
.btn-back{
    background: #FFF;
	color: gray;
	font: bold 11px "Helvetica";
	padding: 12px;
    text-decoration: none;
    font-size: 16px;
    float:right;
    border: none;
    display: none;

	-webkit-border-top-left-radius: 20px;
	-moz-border-top-left-radius: 20px;
    border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
	-moz-border-bottom-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top:100px;
   

	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.btn-back:after{
    background: gray;
	color: #FFF;
	content: "<";
	display: inline-block;
	font: bold 11px "Georgia";
    height: 25px;
    font-size:15px;
	line-height: 25px;
	margin-left: 10px;
	text-align: center;
	width: 25px;
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

}
.btn-back:hover{
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}